<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'main/css/style.css'%}" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'main/img/logo.svg' %}">

        <ul class="nav-bar">
            <a href="{% url 'home' %}"><li>Main</li></a>
            <a href="{% url 'about' %}"><li>About</li></a>
            <a href="{% url 'news_home' %}"><li>News</li></a>
            <a href="{% url 'contacts' %}"><li>Contacts</li></a>
        </ul>

    </header>
{% block content %}
{% endblock %}
</body>
</html>