*{
padding: 0;
margin: 0
}

body{
    background: darkgrey;
    }
header{
    background: #8b8b8b;
    height: 120px;
}
header img{
    float: left;
    margin: 20px;
    height: 80px;
}
.nav-bar{
    position: relative;
    top:50px;
}
.nav-bar li, a{
    color: white;
    list-style: none;
    display: inline;
    margin: 15px;
}
.nav-bar li:hover{
    color: orange
}
.nav-bar a{
    text-decoration: none
}
.news-item{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    display: inline-block;
    padding: 20px;
    overflow: auto;
    background: #8b8b8b;
    color: white;
}